# Lombok configuration file
# Documentation: https://projectlombok.org/features/configuration

# disable usage of annotations which aren't supported by android runtime
lombok.anyConstructor.suppressConstructorProperties = true
#Added due to force usage of support NonNull
lombok.nonNull.flagUsage = error
